#home1 {color:black;
    text-decoration: none;
}
#home2 {color:black;
    text-decoration: none;
}
#home3 {color: black;
    text-decoration: none;
}
#home4 {color: black;
    text-decoration: none;
}
#home5 {color: black;
    text-decoration: none;
}
#blabla {
    text-align: center;
}
#lien {
    color: black;
    text-decoration: none;
}